@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body,
html {
    /* プロパティ名:値; */
    margin: 0;
    background: #F4F5F7;
    font-size: 8px;
}

article {
    width: 80%;
    margin: 0 auto;
}

/*子孫セレクタ*/

section img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

/*section要素のフォントサイズを16pxにする。*/
section{
    font-size: 16px;
}

section p{
    font-size: 1rem;
    font-family: 'Noto Sans Japanese',sans-serif;
    /* section要素の子孫要素のp要素のフォントサイズを16emにする。*/
}

/* .○○○○ ・・・　クラス名のセレクタ */
.section_title {
    color: black;
    /* class名に「section_title」がある要素の色を黒にする */
}

/* #○○○○ ・・・　ID名のセレクタ */
#nav{
    background-color: #444;	
    padding: 3px;	
     /* 
     id名に「nav」がある要素の背景を#444（ほぼ黒）にして
     パディングを3pxにする。
     */
} 


#nav ul{
    padding: 0px; 	
    margin: 0px;
} 


#nav ul li {
    display: inline; 	
    margin-right: 1em;
} 


#nav ul li a { 
    font-family: "Trebuchet MS", sans-serif; 
    text-decoration: none;
    color: #fff; 	 
} 


#nav ul li a:hover{ 
    border-bottom: dotted 1px #fff;	 
}

